<div class="container">
  <div class="row pad10">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
          <button type="button" class="btn btn-primary full" (click)="read()" routerLink="/read" >Read</button>
      </div>
  </div>
  <div class="row pad10">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary full" (click)="post()" routerLink="/post">Post</button>
    </div>
  </div>
  <div class="row pad10">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary full" (click)="follow()" routerLink="/follow">Follow</button>
    </div>
  </div>
  <div class="row pad10">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary full" (click)="wall()" routerLink="/wall">Wall</button>
    </div>
  </div>
  <div class="twoLinesSeparator"></div>
  <div class="row pad10">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary full" routerLink="/login" >Change User</button>
    </div>
  </div>
</div>
