<div class="wrapper">
  <div id="formContent" class="blue formContent">

    <app-show-users (hereSelected)="selected($event)"></app-show-users>


    <!-- READ -->
    <form>
      <input [(ngModel)]="target" name="target" placeholder="Whose post do you want to read?">
      <input type="submit" value="Confirm" (click)="onSubmit()">
    </form>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li *ngFor="let res of resultArr">
              <span class="badge"></span> {{res}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>

    </div>

    <div>
      <button type="button" class="btn btn-primary" routerLink="/selector">Back to Selector</button>
    </div>


  </div>
</div>